*{
    margin: 0; 
    box-sizing: border-box;
}
body{font-family: Arial, Helvetica, sans-serif;}

a{text-decoration: none; color: #fff;}
ul{list-style: none;}
li{list-style: none;}
img{vertical-align: bottom; max-width: 100%; height: auto;}
img:hover{ transform: scale(1.2);transition-duration: .5s; }
  
button{cursor: pointer;}
:disabled{cursor: not-allowed;}

@font-face {
    font-family: nav;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: head;
    src: url(../fonts/Archivo-Bold.ttf);
}
@font-face {
    font-family: para;
    src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: para2;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: button;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: head2;
    src: url(../fonts/Calistoga-Regular.ttf);
}

.container{max-width: 1200px; margin: auto; padding: 0 15px;}
.row{margin: 0 -15px; display: flex; flex-flow: row wrap;}
.row::after{content:""; display: block;}


.col1{flex:1 1 8.33%; padding: 0 15px;}
.col2{flex:1 1 16.66%; padding: 0 15px;}
.col3{flex:1 1 25%; padding: 0 15px;}
.col4{flex:1 1 33.33%; padding: 0 15px;}
.col5{flex:1 1 41.66%; padding: 0 15px;}
.col6{flex:1 1 50%; padding: 0 15px;}
.col7{flex:1 1 58.33%; padding: 0 15px;}
.col8{flex:1 1 66.66%; padding: 0 15px;}
.col9{flex:1 1 75%; padding: 0 15px;}
.col10{flex:1 1 83.33%; padding: 0 15px;}
.col11{flex:1 1 91.66%; padding: 0 15px;}
.col12{flex:1 1 100%; padding: 0 15px;} 



.wrap1{background: url(../Images/wrap1_bg.jpg) center no-repeat; background-size: cover;}
.wrap1 img{ margin: 15px 0; transition: none; transform: none;}
.wrap1 ul{display: flex; justify-content: end; }
.wrap1 li{padding: 0  0 0 8%; margin: 30px 0;}
.wrap1 ul li a{ font-size: 20px; font-family: nav;}
.wrap1 ul li a:hover{color: #fff; text-decoration: 2px underline; text-underline-offset:8px;}
.wrap1 ul li a:focus{color: #fff; text-decoration: 2px underline; text-underline-offset:8px;}
.wrap1 .toggle{margin: 35px 0; text-align: end; display: none;}
.wrap1 .toggle i{color: #fff; font-size: 20px; border: 2px solid transparent; background-color: #f64b3c; padding:5px 9px;}
.wrap1 .toggle i:hover{color: #f64b3c; font-size: 20px; border: 2px solid #f64b3c; background-color: #fff; padding:5px 9px; transition: 0.5s ease-in-out;}

.wrap1 .head2{display: block; font-size: 80px;}
.wrap1 h1{font-size: 80px; font-family: head; color: #fff; margin-top: 15%; line-height: 1.06; }
.wrap1 .p1{color: #fff; font-family: para; font-size: 30px; margin-top: 5%;}
.wrap1 .button{font-family: button; font-size: 25px; background-color: #f64b3c; color: #fff; border: 2px solid transparent; padding: 7px 40px; margin:5% 0 10% 0; border-radius: 100px;}
.wrap1 .button:hover{background-color: #fff; color: #f64b3c; border: 2px solid #f64b3c; transition: 0.5s ease-in-out;}


  
.wrap2{background: url(../Images/wrap2_bg.jpg) no-repeat center; background-size: cover;}
.wrap2 .wh1{font-family: head; font-size: 60px; color: #f64b3c; text-align: center; margin: 5% 0 3% 0;}
.wrap2 .wp1{font-family: para2; font-size: 25px; color: #f64b3c; text-align: center; margin: 0 17% ;}
.wrap2 .image{display: flex; justify-content: center; margin: 15% 0 10% 0; }
.wrap2 .wh2{font-family: head; font-size: 40px; color: #f64b3c; text-align: center; }
.wrap2 .wp2{font-family: para2; font-size: 20px; color: #f64b3c; text-align: center; }
.wrap2 img{width: 239px; height: 238px;}
.wrap2 .para{margin-bottom: 30%;}


.wrap3{background-color: #f64b3c;}
.wrap3 .image{display: flex; justify-content: start; margin: 15% 0 10% 0;}
.wrap3 h1{font-size: 70px; font-family: head; color: #fff; margin-top: 25%;}
.wrap3 .p1{color: #fff; font-family: para; font-size: 30px; margin-top: 5%;}
.wrap3 .button{font-family: button; font-size: 25px; background-color: transparent; color: #fff; border: 2px solid #fff; padding: 7px 40px; margin:10% 0; border-radius: 100px;}
.wrap3 .button:hover{background-color: #fff; color: #f64b3c; border: 2px solid #f64b3c; transition: 0.5s ease-in-out;}

.wrap4{background: url(../Images/wrap4_bg.jpg) center no-repeat; background-size: cover;}
.wrap4 .image{display: flex; justify-content: center; margin: 25% 0 ;}
.wrap4 h1{font-size: 70px; font-family: head; color: #f64b3c; margin-top: 35%;}
.wrap4 .p1{color: #f64b3c; font-family: para; font-size: 30px; margin-top: 5%;}
.wrap4 .button{font-family: button; font-size: 25px; background-color: #f64b3c; color: #fff; border: 2px solid #f64b3c; padding: 7px 40px; margin:10% 0; border-radius: 100px;}
.wrap4 .button:hover{background-color: #fff; color: #f64b3c; border: 2px solid #f64b3c; transition: 0.3s ease-in-out;}

.wrap5{background-color: #f64b3c;}
.wrap5 .wh1{font-family: head; font-size: 60px; color: #fff; text-align: center; margin: 10% 0 3% 0;}
.wrap5 .wp1{font-family: para2; font-size: 25px; color: #fff; text-align: center; margin: 0 17% ;}
.wrap5 .box{border: 5px solid #fff; outline-offset: 20px; margin:10% 0 30% 0; padding: 100px 0; border-radius: 50%;}
.wrap5 .wh5{font-family: head; font-size: 80px; color: #fff; text-align: center; }
.wrap5 .wp5{font-family: para2; font-size: 30px; color: #fff; text-align: center; font-weight: 600; letter-spacing: 1px;}

.wrap6{background: url(../Images/wrap6_bg.jpg);}
.wrap6 .w6h1{color: #f64b3c; text-align: center; margin: 5% 0; font-weight: bold; font-size: 60px; font-family: head;}
.wrap6 .box{display: flex; flex-direction: column;  background-color: #fff; border-radius: 10px; margin-bottom: 10%;}
.wrap6 h2{margin-top: 10%; font-size: 30px; color: #f64b3c; font-family: head; text-align: center;}
.wrap6 h3{font-size: 30px; color: #f64b3c; font-family: head; text-align: center;}
.wrap6 .image{display: flex; justify-content: center; margin: 10% 0;}
.wrap6 p{font-family: para2; font-size: 20px; margin: 20px 0;  text-align: center; color: #f64b3c;}
.wrap6 .button{font-family: button; font-size: 20px; background-color: #f64b3c; color: #fff; border: 2px solid transparent; padding: 3% 25%; margin:5% 0 10% 0; border-radius: 100px;}
.wrap6 .button:hover{background-color: #fff; color: #f64b3c; border: 2px solid #f64b3c; transition: 0.5s ease-in-out;}
.wrap6 .btn{display: flex; justify-content: center;}

  
.wrap7{background: url(../Images/wrap7_bg.jpg) no-repeat center; background-size: cover;}
.wrap7 h2{color: #fff; margin: 20% 25% 5% 25%; text-align: center; font-family: head; font-size: 30px;}
.wrap7 p{font-family: head2; color: #fff; margin: 5% 0 20% 0; text-align: center; font-size: 35px;}  

.wrap8{background: url(../Images/wrap8_bg.jpg) no-repeat center; background-size: cover; }
.wrap8 h1{color: #f64b3c; margin: 20% 0 5% 0; text-align: center; font-family: head; font-size: 80px; font-weight: 900;}
.wrap8 p{color: #f64b3c; margin: 5% 15% 5% 15%; text-align: center; font-family: para; font-size: 30px;}
.wrap8 form{display: flex; justify-content: center; margin-bottom: 20%;}
.wrap8 input{width: 55%; padding: 10px 30px; outline: none; border: 2px solid transparent; border-radius: 50px; font-size: 20px;}
.wrap8 button{padding: 10px 20px; font-size: 20px; border: 2px solid transparent; border-top-right-radius: 50px; border-bottom-right-radius: 50px; background-color: #f64b3c; color: #fff; margin-left: -12%;}
.wrap8 button:hover{background-color: #fff; color: #f64b3c; border: 2px solid #f64b3c; transition: 0.5s ease-in-out;}

.wrap9{background-color: #222222;}
.wrap9 .box{display: block; margin-top: 150px; }
.wrap9 h2{color: #fff; margin: 0% 2% 2% 2% ; font-family: head; font-size: 30px;}
.wrap9 p{font-family: para; margin: 2%; color: #fff; font-size: 20px; margin-right:20%;}  
.wrap9 .fp{font-family: para; margin: 100px 0 30px 0; color: #fff; font-size: 18px; text-align: center;}  
.wrap9 ul{padding:0; margin-bottom: 150px; display: flex; flex-direction: column;}
.wrap9 li{padding:  10px 0 0 0;}
.wrap9 .top{padding:  20px 0 0 0;}
.wrap9 li a{font-family: para;}
.wrap9 a:hover{font-family: para; text-decoration: 2px underline; text-underline-offset:5px;}
  


@media screen and (max-width: 1200px){ 
    .container {width: 960px}
    .wrap1 h1{font-size: 60px;  }
    .wrap1 .p1{font-size: 25px;}

    .wrap2 .wh2{font-family: head; font-size: 35px; color: #f64b3c; text-align: center; }
    .wrap2 .wp2{font-family: para2; font-size: 18px; color: #f64b3c; text-align: center; }

    .wrap5 .wp1{font-family: para2; font-size: 23px; color: #fff; text-align: center; margin: 0 15% ;}
    .wrap5 .box{border: 5px solid #fff; outline-offset: 20px; margin:10% 0; padding: 90px 0; border-radius: 50%;}
    .wrap7 h2{margin: 20% 25% 5% 25%; font-size: 25px;}
    .wrap7 p{ font-size: 30px; margin: 5% 0 20% 0;} 
    
    .wrap8 h1{color: #f64b3c; margin: 10% 0 5% 0; text-align: center; font-family: head; font-size: 70px; font-weight: 900;}
    .wrap8 p{color: #f64b3c; margin: 5% 15% 5% 15%; text-align: center; font-family: para; font-size: 25px;}

}

@media screen and (max-width: 980px){ 
    .container {width: 760px}
    .wrap1 li{padding: 0  0 0 5%; margin: 30px 0;}
    .wrap1 .toggle{margin: 35px 0; text-align: end;}
    .col-t-3{flex:1 1 25%; padding: 0 15px;}
    .col-t-9{flex:1 1 75%; padding: 0 15px;}
    .col-t-12{flex:1 1 100%; padding: 0 15px;}
    .wrap1 h1{text-align: center; font-size: 60px; margin-top: 5%;}
    .wrap1 .p1{text-align: center; font-size: 25px;}
    .wrap1 .head2{display: block; font-size: 60px;}
    .wrap1 .button{ font-size: 20px; padding: 7px 40px; display: block; margin:5% auto 10% auto; }
    .col-t-6{flex:1 1 50%; padding: 0 15px;}
    .wrap2 .para{margin-bottom: 0%;}
    .wrap2 .pt{margin-bottom: 10%;}
    .wrap2 .wp1{font-size: 22px; margin: 0 10% 5% 10% ;}
    .wrap2 .image{display: flex; justify-content: center; margin: 10% 0 5% 0; }
    .wrap3 h1{font-size: 50px; font-family: head; color: #fff; margin-top: 25%;}
    .wrap3 .p1{color: #fff; font-family: para; font-size: 20px; margin-top: 5%;}
    .wrap3 .button{font-size: 20px; padding: 7px 40px; }
    .wrap4 h1{font-size: 50px; margin-top: 25%;}
    .wrap4 .p1{font-size: 20px; margin-top: 5%;}
    .wrap4 .button{font-size: 20px; padding: 7px 40px; }
    .wrap5 .w5mb{margin:0% 0 20% 0; }
    .wrap6 .button{font-size: 18px; padding: 3% 25%; margin:5% 0 10% 0;}
    .wrap6 .w6h1{font-size: 50px;}
    .wrap7 h2{margin: 25% 25% 5% 25%; font-size: 20px;}
    .wrap7 p{ font-size: 25px; margin: 5% 0 25% 0;} 
    .wrap8 h1{color: #f64b3c; margin: 10% 0 5% 0; text-align: center; font-family: head; font-size: 60px; font-weight: 900;}
    .wrap8 p{color: #f64b3c; margin: 5% 15% 5% 15%; text-align: center; font-family: para; font-size: 20px;}
    .wrap9 p{font-family: para; margin: 2%; color: #fff; font-size: 20px; margin-right:10%;} 
    .wrap9 ul{padding:0; margin-bottom: 0px;}
    .wrap9 .box{display: block; margin-top: 100px; }
    .wrap9 .bt{display: block; margin-top: 20px; }
}

@media screen and (max-width: 770px){ 
    .container {width: 100%}
    .wrap1 .toggle{display: block;}
.wrap1 ul{position: fixed; top: 90px; left: 100%; right: 0; background-color: #f64b3c; flex-direction: column; text-align: center; padding: 50px; margin: 0; transition: 0.5s all ease-in-out;}
.wrap1 li{padding: 0  0 0 0; margin: 10px 0; }


.col-l-3{flex:1 1 25%; padding: 0 15px;}
.col-l-7{flex:1 1 58.33%; padding: 0 15px;}
.wrap1 ul li a{ font-size: 18px;  }
.wrap1 img{ margin: 25px 0;}
.col-l-12{flex:1 1 100%; padding: 0 15px;}
.wrap1 h1{text-align: center; font-size: 50px; margin-top: 5%;}
.wrap1 .p1{text-align: center; font-size: 20px; margin: 5% 5%;}
.wrap1 .head2{display: block; font-size: 50px;}
.wrap1 .button{ font-size: 20px; padding: 7px 40px; display: block; margin:5% auto 10% auto; }
.wrap2 .wh1{ font-size: 50px; margin: 5% 0 3% 0;}
.wrap2 .wp1{font-size: 20px; margin: 0 10% ;}
.wrap2 .wh2{font-size: 30px;  }
.wrap2 .wp2{font-family: para2; font-size: 18px; }
.wrap3 h1{font-size: 35px; margin-top: 25%;}
.wrap3 .p1{font-size: 18px; margin-top: 5%;}
.wrap3 .button{font-size: 18px; padding: 7px 40px; }
.wrap4 h1{font-size: 35px; margin-top: 25%;}
.wrap4 .p1{font-size: 18px; margin-top: 5%;}
.wrap4 .button{font-size: 18px; padding: 7px 40px; }

.wrap5 .wh1{font-size: 50px; margin: 10% 0 3% 0;}
.wrap5 .wp1{font-size: 20px; margin: 0 10% ;}
.wrap5 .box{margin:10% 0; padding: 80px 0;}
.wrap5 .wh5{font-size: 50px;}
.wrap5 .wp5{font-size: 20px;}
.wrap5 .w5mb{margin:0% 0 20% 0; }
.wrap6 .w6h1{font-size: 40px;}
.wrap7 h2{margin: 30% 20% 5% 20%; font-size: 18px;}
.wrap7 p{ font-size: 25px; margin: 5% 0 30% 0;}

.wrap8 h1{color: #f64b3c; margin: 10% 0 5% 0; text-align: center; font-family: head; font-size: 40px; font-weight: 900;}
.wrap8 p{color: #f64b3c; margin: 5% 10% 5% 10%; text-align: center; font-family: para; font-size: 20px;}
.wrap9 .box{display: block; margin-top: 20px; text-align: center; }
.wrap9 ul{padding:0; margin-bottom: 0px;}
.wrap9 li{display: flex; justify-content: center; }
.wrap9 .blt{display: block; margin-top: 20px; }
.wrap9 h2{color: #fff; margin: 10% 2% 2% 2% ; font-family: head; font-size: 30px;}
.wrap9 .hh{color: #fff; margin: 20% 2% 2% 2% ; font-family: head; font-size: 30px;}
.wrap9 p{font-family: para; margin: 2% 0 0 0; color: #fff; font-size: 20px; margin-right:0%;}  
}

@media screen and (max-width: 500px){ 
    .container {width: 100%}
    .wrap1 ul{padding: 30px;}
    .wrap1 ul li a{ font-size: 16px; }
    .col-m-4{flex:1 1 33.33%; padding: 0 15px;}
    .col-m-5{flex:1 1 41.66%; padding: 0 15px;}
    .col-m-3{flex:1 1 25%; padding: 0 15px;}
    .wrap1 .toggle i{font-size: 18px; }
    .wrap1 .toggle{margin: 30px 0; }

    .wrap1 h1{text-align: center; font-size: 30px; margin-top: 5%;}
    .wrap1 .p1{text-align: center; font-size: 16px; margin: 5% 5%;}
    .wrap1 .head2{display: block; font-size: 30px;}
    .wrap1 .button{ font-size: 16px; padding: 7px 40px; display: block; margin:5% auto 10% auto; }
    .col-m-12{flex:1 1 100%; padding: 0 15px;} 
    .wrap2 .wh2{font-size: 30px; }
    .wrap2 .wp2{font-size: 18px; }
    .wrap3 .image{display: flex; justify-content: center; margin: 15% 0 5% 0;}
    .wrap3 h1{font-size: 40px; margin-top: 5%; text-align: center;}
    .wrap3 .p1{font-size: 18px; margin-top: 5%; text-align: center;}
    .wrap3 .button{font-size: 18px; padding: 7px 40px; display: block; margin:5% auto 10% auto;}
    .wrap4 .image{display: flex; justify-content: center; margin: 5% 0 5% 0;}
    .wrap4 h1{font-size: 40px; margin-top: 5%; text-align: center; margin-top: 15%; background-color: #f6eedf;}
    .wrap4 .p1{font-size: 18px; margin-top: 5%; text-align: center;  background-color: #f6eedf;}
    .wrap4 .button{font-size: 18px; padding: 7px 40px; display: block; margin:5% auto 10% auto;}

    .wrap5 .wh1{font-size: 40px; margin: 10% 0 3% 0;}
    .wrap5 .wp1{font-size: 18px; margin: 0 7% ;}
    .wrap5 .box{margin:10% 0 0 0; padding: 120px 0;}
    .wrap5 .w5mb{margin:10% 0 10% 0; }
    .wrap5 .wh5{font-size: 60px;}
    .wrap5 .wp5{font-size: 25px;}
    .wrap6 .w6h1{font-size: 30px; margin: 10% 0; }
    .wrap6 h2{margin-top: 10%; font-size: 25px; }
    .wrap6 h3{font-size: 23px; }
    .wrap6 p{font-family: para2; font-size: 18px;}
    .wrap7 h2{margin: 50% 10% 5% 10%; font-size: 18px;}
    .wrap7 p{ font-size: 25px;margin: 5% 0 50% 0;}  
    .wrap7{background: url(../Images/wrap7_bg.jpg) no-repeat center; background-size: cover; height: auto;}

    .wrap8 h1{color: #f64b3c; margin: 10% 0 5% 0; text-align: center; font-family: head; font-size: 25px; font-weight: 900;}
    .wrap8 p{color: #f64b3c; margin: 5% 10% 5% 10%; text-align: center; font-family: para; font-size: 18px;}

    .wrap8 form{display: block; margin:auto  auto 5% auto;}
    .wrap8 input{width: 100%; padding: 10px 30px; font-size: 18px;}
    .wrap8 button{padding: 10px 20px; font-size: 18px;  border-radius: 50px; background-color: #f64b3c; color: #fff; display: block; margin:3%  auto 5% auto; }
    .wrap9 .box{display: block; margin-top: 50px; text-align: center; }
    .wrap9 .fp{font-family: para; margin: 80px 0 30px 0; color: #fff; font-size: 18px; text-align: center;}  
}
